In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
test=pd.read_csv("Data/myntra_test.csv")
sub=pd.read_csv("Data/Submission_online.csv")
df_sub=pd.read_csv("Main_submission_file.csv")

In [3]:
df_sub.head()

          Brand Image_Names    Label
0   Allen Solly       0.jpg    Solid
1         Celio       1.jpg    Solid
2  CULT FICTION       2.jpg    Solid
3   Antigravity       3.jpg  Graphic
4   Being Human       4.jpg  Graphic

In [4]:
df_sub.shape

(14952, 3)

In [5]:
import os

In [6]:
img_names=os.listdir("Test_Data/Test/")

In [7]:
len(img_names)

14952

In [8]:
from tqdm import tqdm

In [9]:
im_names=[]
for i in range(len(test)):
    im_names.append(str(i)+".jpg")

In [10]:
test.index=im_names

In [11]:
test.drop(list(set(im_names).difference(set(img_names))),inplace=True)

In [16]:
test.reset_index(drop=False,inplace=True)

In [12]:
pred_label=df_sub["Label"]

In [17]:
test['Sub_category']=pred_label

In [14]:
test.shape

(14952, 6)

In [20]:
test.head()

,index,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
4266.jpg,0.jpg,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,Solid
5755.jpg,1.jpg,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,Solid
6197.jpg,2.jpg,CULT FICTION,Tshirts,Men,Rust,http://myntra.myntassets.com/assets/images/159...,Solid
1756.jpg,3.jpg,Antigravity,Tshirts,Women,Blue,http://myntra.myntassets.com/assets/images/185...,Graphic
337.jpg,4.jpg,Being Human,Tshirts,Men,Charcoal,http://myntra.myntassets.com/assets/images/100...,Graphic

In [19]:
test.index=img_names

In [21]:
test.reset_index(drop=True,inplace=True)

In [22]:
sub.head(2)

,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
0,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,NaN
1,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,NaN

In [23]:
test.head(2)

,index,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
0,0.jpg,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,Solid
1,1.jpg,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,Solid

In [24]:
test.shape

(14952, 7)

In [25]:
sub.index=im_names

In [28]:
sub.reset_index(inplace=True)

In [29]:
sub.head(2)

,index,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
0,0.jpg,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,NaN
1,1.jpg,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,NaN

In [30]:
test.head(2)

,index,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
0,0.jpg,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,Solid
1,1.jpg,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,Solid

In [53]:
sub_2=sub.merge(test,on=['index','Brand','Category','Gender','Color','Link_to_the_image',],how='outer')

In [54]:
sub_2.head()

,index,Brand,Category,Gender,Color,Link_to_the_image,Sub_category_x,Sub_category_y
0,0.jpg,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,NaN,Solid
1,1.jpg,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,NaN,Solid
2,2.jpg,CULT FICTION,Tshirts,Men,Rust,http://myntra.myntassets.com/assets/images/159...,NaN,Solid
3,3.jpg,Antigravity,Tshirts,Women,Blue,http://myntra.myntassets.com/assets/images/185...,NaN,Graphic
4,4.jpg,Being Human,Tshirts,Men,Charcoal,http://myntra.myntassets.com/assets/images/100...,NaN,Graphic

In [56]:
sub_2.drop(['index','Sub_category_x'],axis=1,inplace=True)

In [59]:
sub_2.rename(columns={"Sub_category_y":"Sub_category"},inplace=True)

In [62]:
sub_2["Sub_category"].fillna("Solid",inplace=True)

In [63]:
sub_2.to_csv("Submit_1_without_null.csv",index=False)

## Numpy_Array_Conversion

In [64]:
import numpy as np
import pandas as pd
import sklearn
import os
import cv2
import matplotlib.pyplot as plt
%matplotlib inline

In [65]:
train=pd.read_csv("Cleaned_Train_Data.csv")
test=pd.read_csv("Cleaned_Test_Data.csv")

In [66]:
train.shape

(69897, 7)

In [67]:
train.head()

      Unnamed: 0     Brand Category Gender  Color    Image_Names Sub_category
0  0_Graphic.jpg  Roadster  Tshirts    Men  Black  0_Graphic.jpg      Graphic
1  1_Graphic.jpg  Roadster  Tshirts    Men  Black  1_Graphic.jpg      Graphic
2    2_Biker.jpg  Roadster  Tshirts    Men  Black    2_Biker.jpg        Biker
3  3_Graphic.jpg  Roadster  Tshirts    Men  Black  3_Graphic.jpg      Graphic
4  4_Graphic.jpg  Roadster  Tshirts    Men  Black  4_Graphic.jpg      Graphic

In [68]:
test.head()

          Brand Category Gender     Color Image_Names
0   Allen Solly  Tshirts    Men       Red       0.jpg
1         Celio  Tshirts    Men    Yellow       1.jpg
2  CULT FICTION  Tshirts    Men      Rust       2.jpg
3   Antigravity  Tshirts  Women      Blue       3.jpg
4   Being Human  Tshirts    Men  Charcoal       4.jpg

In [69]:
train=train.iloc[:,1:]

In [70]:
train.head(2)

      Brand Category Gender  Color    Image_Names Sub_category
0  Roadster  Tshirts    Men  Black  0_Graphic.jpg      Graphic
1  Roadster  Tshirts    Men  Black  1_Graphic.jpg      Graphic

In [71]:
train_img_path="Train_Data/Train/"
test_img_path="Test_Data/Test/"

In [73]:
def img_reader(img_path):
    img=cv2.imread(img_path)
    img=cv2.resize(img,(128,128))
    return(img)

In [74]:
train_img=[]
for img in tqdm(train['Image_Names'].values):
    train_img.append(img_reader(train_img_path+img))

100%|██████████| 69897/69897 [53:16<00:00, 21.86it/s]

In [75]:
X_train=np.array(train_img,np.float32)/255.0

In [76]:
np.save("Train_128_128.npy",X_train)

In [77]:
X_train.shape

(69897, 128, 128, 3)

In [78]:
test_img=[]
for img in tqdm(test['Image_Names'].values):
    test_img.append(img_reader(test_img_path+img))
X_test=np.array(test_img,np.float32)/255.0
np.save("Test_128_128.npy",X_test)
X_test.shape

100%|██████████| 14952/14952 [12:15<00:00, 20.32it/s]

(14952, 128, 128, 3)